USE [master]
GO
/****** Object:  Database [Contacts]    Script Date: 8/16/2017 7:47:44 AM ******/
CREATE DATABASE [Contacts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contacts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVEREXPRESS\MSSQL\DATA\Contacts.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Contacts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVEREXPRESS\MSSQL\DATA\Contacts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contacts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contacts]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 8/16/2017 7:47:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Address] [varchar](150) NOT NULL,
	[City] [varchar](100) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zip] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Contact] ([ContactId], [Name], [Address], [City], [State], [Zip]) VALUES (N'1ca62d26-9a0a-4c05-aa89-0e936da6667a', N'Carol Mason', N'123 Test St', N'Overland Park', N'KS', N'66202')
INSERT [dbo].[Contact] ([ContactId], [Name], [Address], [City], [State], [Zip]) VALUES (N'48f35979-7559-4e9b-b6e6-11edfbb5d505', N'Amy Montoni', N'234 MyStreet', N'Overland Park', N'KS', N'66207')
INSERT [dbo].[Contact] ([ContactId], [Name], [Address], [City], [State], [Zip]) VALUES (N'3dfadcc9-4eb7-492b-ae1f-1f6c8be10845', N'Robert Morris', N'123 Way', N'Overland Park', N'KS', N'66207')
USE [master]
GO
